nav {
    display: flex;
    width: 75%;
    font-weight: bold;
}

nav img {
    width: 4rem;
    height: 4rem;
}

nav div {
    margin-left: auto;
}

nav div a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: black;
}
